extends layout

block content
  h1 #{theChar.name}
  
  div#char-summary
    input#ifTp(type="checkbox",checked)
    label#tpLabel(for="ifTp") Activate Tiger Power
    
    input#fightLength(type="number",value="6")
    label#fightLenLable(for="fightLength") Fight Length (minutes)

    table#char-basics-table
        th#charName
        tr
            td.attrName Realm
            td#realm.attrStat #{theChar.realm}
        tr
            td.attrName Race
            td#race.attrStat #{theChar.race}

    table#char-stat-table
        tr
            td.attrName Agility
            td#Agility.attrStat #{theChar.Agility}
        tr
            td.attrName Strength
            td#Strength.attrStat #{theChar.Strength}
        tr
            td.attrName AP
            td#AP.attrStat #{theChar.AP}
        tr
            td.attrName Crit
            td#Crit.attrStat #{theChar.Crit}
        tr
            td.attrName Mastery
            td#Mastery.attrStat #{theChar.Mastery}
        tr
            td.attrName Haste
            td#Haste.attrStat #{theChar.Haste}
        tr
            td.attrName VersRating
            td#VersRating.attrStat #{theChar.VersRating}
        tr
            td.attrName Mainhand DPS
            td#VersRating.attrStat #{theChar.Mainhand.weaponInfo.dps}
        tr
            td.attrName Offhand DPS
            td#VersRating.attrStat #{theChar.Offhand.weaponInfo.dps} 
            
    table#output-results

    p #{"Test Variables Zone:"}

    p #{theChar.jadeRegion}
    p #{theChar.jadeName}
    p #{theChar.jadeRealm}

    p #{theChar.tester}
            
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/stats/avgWdps.js')
  script(src='/javascripts/stats/stat.js')
  script(src='/javascripts/spells/spell.js')
  script(src='/javascripts/spells/spellList.js')
  script(src='/javascripts/global.js')