extends layout

block content
  h1 #{theChar.name}
  
  div#char-summary
    input#ifTp(type="checkbox",checked)
    label#tpLabel(for="ifTp") Activate Tiger Power
    
    input#fightLength(type="number",value="6")
    label#fightLenLable(for="fightLength") Fight Length (minutes)

    table#char-basics-table.char-table
        th#charName Character Information
        tr
            td.attrName Realm
            td#realm.attrStat #{theChar.realm}
        tr
            td.attrName Race
            td#race.attrStat #{theChar.race}

    table#char-stat-table.char-table
        th Character Stats
        tr
            td.attrName Agility
            td#Agility.attrStat #{theChar.Agility}
        tr
            td.attrName Strength
            td#Strength.attrStat #{theChar.Strength}
        tr
            td.attrName AP
            td#AP.attrStat #{theChar.AP}
        tr
            td.attrName Crit
            td#Crit.attrStat #{theChar.Crit}
        tr
            td.attrName Mastery
            td#Mastery.attrStat #{theChar.Mastery}
        tr
            td.attrName Haste
            td#Haste.attrStat #{theChar.Haste}
        tr
            td.attrName VersRating
            td#VersRating.attrStat #{theChar.VersRating}
        tr
            td.attrName Mainhand DPS
            td#MainDPS.attrStat #{theChar.Mainhand.weaponInfo.dps}
            
            
        tr
            td.attrName Offhand DPS
            if (theChar.Offhand != "No Item")
                td#OffDPS.attrStat #{theChar.Offhand.weaponInfo.dps}
            else
                td#OffDPS.attrStat Not Available
            

            
    table#char-talents.char-table
        th Talents
        tr
            td.attrName.attrTalent Tier 15
            td.tal15(data-talentcol="#{theChar.talent15}") #{theChar.talent15name}
        tr
            td.attrName.attrTalent Tier 30
            td.tal30(data-talentcol="#{theChar.talent30}") #{theChar.talent30name}
        tr 
            td.attrName.attrTalent Tier 45
            td.tal45(data-talentcol="#{theChar.talent45}") #{theChar.talent45name}
        tr
            td.attrName.attrTalent Tier 60
            td.tal60(data-talentcol="#{theChar.talent60}") #{theChar.talent60name}
        tr
            td.attrName.attrTalent Tier 75
            td.tal75(data-talentcol="#{theChar.talent75}") #{theChar.talent75name}
        tr
            td.attrName.attrTalent Tier 90
            td.tal90(data-talentcol="#{theChar.talent90}") #{theChar.talent90name}
        tr
            td.attrName.attrTalent Tier 100
            td.tal100(data-talentcol="#{theChar.talent100}") #{theChar.talent100name}
            
    table#output-results
            
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/stats/avgWdps.js')
  script(src='/javascripts/stats/stat.js')
  script(src='/javascripts/char.js')
  script(src='/javascripts/spells/spell.js')
  script(src='/javascripts/spells/spellList.js')
  script(src='/javascripts/global.js')